/output/*
!/output/0_README.txt
output_old/
**/output_old/
**/output/*
00-my-id.txt
cookies.txt
package-lock.json
node_modules
.DS_Store
analyze_fpl_team.py
get-team-ids.js
output_old/
venv/
**/venv/
**/output/*
